@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

.svg{
  height: 20px;
  width: 20px;
  vertical-align: sub;
}

a:hover{
  text-decoration: none;
}

.btn-sm{
  font-size: 75%;
  padding: 2px 3px;
}

.text-xs{
  font-size: 60%;
}

.svg-sm{
  width: 15px;
  height: 15px;
}

.svg-xl{
  height: 30px;
  width: 30px;
}

.row{
  width: 100%;
}

.svg-hover{
  fill: rgba(255,255,255,.5);
}

.svg-hover:hover{
  fill: rgba(255,255,255,.75);
}

.div-center{
  margin: 0  auto;
}

.selection-title-divider {
	background-color: rgb(3, 196, 235);
	height: 3px;
	width: 50px;
	margin: 0 auto;
	margin-bottom: 40px;
}

/*** VIEW POSTS ***/

.view-post-container{
  width: 800px;
  margin: 50px auto;
  padding: 20px 30px;
  color: #000;
  background: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 15px 0;
  border-radius: 4px;
}

.view-post-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10px;
}

.view-post-body{
  padding: 10px;
  height: 600px;
  word-wrap: break-word;
  overflow-y: scroll;
}

.view-post-footer{
  border-top: 1px solid #EEE;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-post-owner-name{
  font-weight: bold;
  color: #169b5e;
}

@media (max-width: 575.98px) {
  .view-post-container{
    width: 80%;
  }
}

/* Post-Cards */
.post-container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  flex-wrap: wrap;
}

.post-card{
  position: relative;
  height: 400px;
  width: 300px;
  margin: 40px;
  overflow: hidden;

  border: 1px solid #EEE;
  border-radius: 0.25rem;
  background: #fefff9;

  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  transition: 0.3s;
}

.post-card:hover{
  transition: 0.3s;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}

.post-card-header{
  width: 100%;
  height: 30%;
  background: #00897b;
  color: #FFF;

  font-family: Roboto;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.post-card-content{
  width: 100%;
  height: 70%;
  position: relative;
}

.post-card-body{
  height: 80%;
  padding: 10px 30px;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  overflow: scroll;
  word-wrap: break-word;
}

.post-card-footer{
  height: 20%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #EEE;
}

.post-card-footer a{
  color: #6c757d;
}
.post-card-footer a:hover{
  color: black;
  font-weight: 500;
}

/*** About ***/
.about-container{
  margin-top: 3rem;
}

.about-header{
  padding: 20px 30px;
}

.about-body{
  padding: 20px 30px;
}

.about-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  padding: 0 20px;

  background: #EEE;
  opacity: 0.75;
}

.about-footer-svg:hover{
  fill: #000;
}

.about-footer-svg path:hover{
  fill: #000;
}

/*Loading Template*/

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
