<div class="container about-container">
  <div class="about-header text-center">
    <h2>
      FireBook
      <br>
      <span class="text-muted small text-xs">
        A Web App to Share Posts!!!
      </span>
    </h2>
  </div>
  <div class="about-body">
    <p>
      FireBooks is a Web Application developed by
      <a href="https://www.theenadayalan.me" target="_blank">Theenadayalan</a>
      curated using
      <a href="https://www.emberjs.com/" target="_blank">EmberJs</a>.
       An user can create post or blog and can view posts created by others.
    </p>
    <p>
      You can view the source code in
      <a href="https://github.com/theenadayalank/firebook" target="_blank">GitHub</a>
    </p>
  </div>
  <div class="about-footer">
    <span>
      &copy; 2018 FireBook.
    </span>
    <span>
      <a href="https://github.com/theenadayalank" target="_blank">{{inline-svg "github-logo" class="svg-xl about-footer-svg"}}</a>
      <a href="https://twitter.com/theenadayalan_k" target="_blank">{{inline-svg "twitter-logo" class="svg-xl about-footer-svg"}}</a>
      <a href="https://www.facebook.com/theenadayalank" target="_blank">{{inline-svg "facebook-logo" class="svg-xl about-footer-svg"}}</a>
    </span>
  </div>
</div>
